<style>
 
/* Edit background color in title */
  #header { 
    font-family:  "Comic Sans MS"; 
    font-weight: bold;
    font-size: 180;
    color: white;
    background: linear-gradient(to right, black, #b70405); /* Gradient from black to #7e4545 */
    /*background:   #b70405;*/
    display: flex; /* Enable flexbox */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack h1 and h4 elements vertically */
  } 
  h1.title.toc-ignore {font-size: 40px; }
  h4.author {
    margin: 10px; 
    color: white; 
    font-size: 25px; 
  }
  
</style>