/*-- scss:defaults --*/

/*$primary: #637238 !default;*/
$primary: #096b38 !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/

 
.sidebar.collapse.collapse-horizontal.sidebar-navigation.floating.overflow-auto {
  #width: 100%;
  left: 0;
  background-color: rgba(27, 183, 117, 0.6);
}

div.sidebar-item-container .active {
  font-weight: bold;  
}


.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;  
}

/* Center the cover image */
img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  display: block;
  margin: 0 auto; /* This will center the image */
}
 
/* Headings ------------------------------------------------------ */


.navbar-title {
  font-size: 0.75em;
  font-weight: 500;
  color: rgba(34, 36, 100, 1);
  text-transform: uppercase;
  letter-spacing: .1em;

  &:hover {
    border-bottom: 1px solid $primary !important;
  }
}

/* Title ------------------------------------------------------ */
 /*#title-block-header.default .quarto-title  h1.title 
 {
  #font-weight: 200;
  #font-size: 250%;
  color: rgba(34, 36, 100, 1);
  margin: 0;
  background: rgba(27, 183, 117, 0.5);
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 2px;
} 

#title-block-header.default .quarto-title  p.subtitle,
 {
# font-weight: 200;  
  color: rgba(34, 36, 100, 1);
  margin: 0;
  background:  rgba(27, 183, 117, 0.1);  
  padding: 2px ; 
} 
 #title-block-header.default .quarto-title-meta,
 {  
  color: rgba(34, 36, 100, 1);
  margin: 0;
  background:  rgba(27, 183, 117, 0.1);  
  padding: 2px ;
} 
 */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #096b38;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  #background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}
